body {
  background-color: #2b2121; }

main {
  margin-bottom: 75px;
  min-height: calc(100vh - 100px - 183px); }
  main div h1 {
    color: #cd9346;
    margin-top: 100px; }

.txtP, h3 {
  padding: 10px;
  font-size: 15px; }

h3 {
  color: #cd9346; }

.card-text {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  color: #2b2121;
  height: 60px; }
  .card-textcolor {
    color: #000000; }

.txtIndex {
  font-size: 20px; }

.carousel-inner img {
  height: 1118px; }

h5 {
  text-align: center;
  color: #2b2121; }

.btn {
  margin-left: 70px;
  bottom: 0; }

.btn-primary {
  position: absolute;
  margin-bottom: 10px; }

p {
  color: white; }
  p #contactoParrafo {
    color: #cd9346; }

body {
  background-color: #2b2121; }

video {
  margin-top: 50px; }

#headerTop {
  background-color: #cd9346;
  display: flex;
  justify-content: center; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0px;
  padding-left: 0px; }

.row {
  --bs-gutter-x: 0rem; }

.linea {
  border-top: 2px solid goldenrod;
  height: 2px; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #140b0b; }

footer img {
  padding-bottom: 15px; }

.navbar-brand {
  margin-left: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; }

.nav-item {
  margin-left: 175px; }

.footerImg {
  text-align: center; }

.card {
  margin: auto; }

button:hover {
  color: #cd9346;
  background-color: #140b0b; }

@media only screen and (max-width: 760px) {
  .mediaFix {
    width: 100%; }
  .card {
    margin: auto; }
  .row {
    --bs-gutter-x: 0rem; }
  .navbar-brand {
    margin: auto; }
  .nav-item {
    margin: auto; }
  .navbar-toggler {
    width: 100%; }
  .navbar-toggler:focus {
    box-shadow: none; }
  .navbar-light .navbar-toggler {
    border: none; }
  .carousel-inner img {
    height: 242px; } }
