body {
  background-color: #2b2121; }

main {
  margin-bottom: 75px;
  min-height: calc(100vh - 100px - 183px); }
  main div h1 {
    color: #cd9346;
    margin-top: 100px; }

h3 {
  color: #cd9346;
  padding: 10px;
  font-size: 15px; }

h5 {
  text-align: center;
  color: #2b2121; }

.card-text {
  color: #2b2121; }

.btn {
  margin-left: 50px; }

p {
  color: white; }
  p #contactoParrafo {
    color: #cd9346; }

body {
  background-color: #2b2121; }

video {
  margin-top: 50px; }

#headerTop {
  background-color: #cd9346;
  display: flex;
  justify-content: center; }

.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
  padding-right: 0px;
  padding-left: 0px; }

.row {
  --bs-gutter-x: 0rem; }

.linea {
  border-top: 2px solid goldenrod;
  height: 2px; }

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #140b0b; }

.navbar-brand {
  margin-left: 50px; }

.nav-item {
  margin-left: 175px; }

.footerImg {
  text-align: center; }

.card {
  margin: auto; }

@media only screen and (max-width: 760px) {
  .mediaFix {
    width: 100%; }
  .card {
    margin: auto; }
  .row {
    --bs-gutter-x: 0rem; }
  .navbar-brand {
    margin: auto; }
  .nav-item {
    margin: auto; }
  .navbar-toggler {
    width: 100%; }
  .navbar-toggler:focus {
    box-shadow: none; }
  .navbar-light .navbar-toggler {
    border: none; } }
