@import "colors";

main{ margin-bottom: 75px; min-height: calc(100vh - 100px - 183px);
    div{
        h1{
            color: #cd9346; margin-top: 100px;
            
        }
    }
}

.txtP {padding: 10px; font-size: 15px;}
h3{ @extend .txtP; color: #cd9346; }

@mixin txtProductosCards ($color) {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    &color{
        color: $color;
    }
}

.card-text{
    @include txtProductosCards(#000000);
    color: $colorGlobal;
    height: 60px;
    }

    $FontSizes: (
        'fz1': 10px,
        'fz2': 20px,
        'fz3': 30px
    
    );

.txtIndex {
    font-size: map-get($FontSizes, $key:fz2 );
}

.carousel-inner img{
    height: 1118px;
}

h5{text-align: center; color: $colorGlobal;}

.btn {
    margin-left: 50px;
    
}

p{color: $colorSecundario;
    #contactoParrafo{
        color: #cd9346;
    }
}

body{background-color: $colorGlobal;}

video{ margin-top: 50px;}

#headerTop {
    background-color: #cd9346;
    display: flex;
    justify-content: center; }



.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
    padding-right: 0px;
    padding-left: 0px;
}
.row {--bs-gutter-x: 0rem;}

.linea {
    border-top: 2px solid goldenrod;
    height: 2px;
    }


footer {position: relative;
bottom: 0;
width: 100%;
background-color: rgb(20, 11, 11);

}
.navbar-brand{margin-left: 50px;}
.nav-item{margin-left: 175px;}
.footerImg{text-align: center; } 
.card {margin: auto;}


@media only screen and (max-width: 760px){
    .mediaFix {width: 100%;}
    .card { margin: auto;}
    .row {--bs-gutter-x: 0rem;}
    .navbar-brand {margin: auto;}
    .nav-item {margin: auto;}
    .navbar-toggler {width: 100%; }
    .navbar-toggler:focus {box-shadow: none;}
    .navbar-light .navbar-toggler {border: none;}
    .carousel-inner img{height: 242px;}
    
    
}




